// Specific CSS for your home-page
.home_page {
  background-position: center;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/claidy/image/upload/v1597844135/main_view_background_page_aokq2x.jpg);
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}
 .name h1{
  font-size: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.6);
}
.us{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ade8f4;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.1);
  padding: 20px;
  background-color: rgba(0,0,0,0.45);
}
.btns_flex {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.dropbtn,
.btn_test {
    background-color: #303C74;
    color: white;
    padding: 10px 16px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
    font-family: 'Petrona', serif;
}
.home-container {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
 from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn_test:hover{
  background-color: #747ead;
}
