body {
  min-height: calc(100vh - 66px - 112px);
  width: 100%;
  opacity: 0.9;
}
.header1 {
  font-size: 67px;
  text-align:center;

}
.btn_body{
  position: absolute;
  bottom: 25px;
  right:25px;
  background-color: rgba(200, 200, 200,0.8);
  padding:16px;
  border-radius:4px;
  a {
     color: black;
  };
}
.main_div{
  position: relative;
}
