<div class="main_div" style='background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(https://res.cloudinary.com/claidy/image/upload/v1597945224/etienne-girardet-SHKg9ZV16QU-unsplash_hd6mcv.jpg); height: 100vh; width: 100%'>  <h2>All Requests</h2>
    <% if current_user.owner && current_user.sitter %>
      <p>Requests for Sitter</p>
          <ul>
            <% @owner_requests.each do |req| %>
              <li><%= link_to "#{req.service.capitalize}: #{req.animal.capitalize}", request_path(req) %></li>
            <% end %>
          </ul>
      <p>Requests for Sitting</p>
        <ul>
          <% @sitter_requests.each do |req| %>
            <li><%= link_to "#{req.service.capitalize}: #{req.animal.capitalize}", request_path(req) %></li>
          <% end %>
        </ul>
    <% else %>
      <ul>
        <% @requests.each do |req| %>
          <li><%= link_to "#{req.service.capitalize}: #{req.animal.capitalize}", request_path(req) %></li>
        <% end %>
      </ul>
    <% end %>
</div>
