<div class="main_div" style='background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.8)), url(https://res.cloudinary.com/claidy/image/upload/v1597945224/etienne-girardet-SHKg9ZV16QU-unsplash_hd6mcv.jpg); height: 100vh; width: 100%'>

  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h2 class="text-center">Your update has been submitted</h2>
        <div class="d-flex justify-content-center">
          <img style="box-shadow: 0 1px 2px rgba(0,0,0,0.2);" src="https://res.cloudinary.com/claidy/image/upload/v1598041489/scott-walsh-cPiXO2BSGZE-unsplash_euz8gn.jpg" height="400px">
        </div>
        <div class="d-flex justify-content-center mt-3">
          <%= link_to "View Request", request_path(@request), class: "btn dropbtn" %>
          <%= link_to "All Requests", requests_path, class: "btn dropbtn" %>
        </div>
      </div>
    </div>
  </div>
</div>
