.card_list_sitter {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.card_list_sitter img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card_list_sitter h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card_list_sitter p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.animal_info h2{
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.animal_info p{
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card_list_sitter .card_sitter_infos .animal_info {
  padding: 16px;
}

.card_list_request {
  overflow: hidden;
  background: #D3D3D3;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  margin-top: 32px;
  width:500px;
  margin-bottom: 45px;
}
.card_list_request img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card_list_request h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.card_list_request p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;

}
.card_list_request .card_user_infos {
  padding: 16px;
}



