.footer {
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background: linear-gradient(217deg, #ffd89b , #19547b70.71%),
            linear-gradient(127deg, #ffd89b ,#19547b 70.71%),
            linear-gradient(336deg, #ffd89b , #19547b 70.71%);
}
.btn_footer {
  display: flex;
  align-items: center;
}
.icons {
  display: flex;
  align-items: center;
  flex-grow: 1;
  i {
    font-size: 30px;
    padding: 10px;
    color: #bdbdbd;
  }
}
