
// form_body {
//   margin: 0;
//   margin-top: 50px;
// }


.modal-content {
  background-color: #d7e3f5;
  border-radius: 90px 10px 90px 10px;
  padding-top: 30px;
  font-family: 'Petrona', serif;
}

